
@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';


.my-card {
    background-color: transparent !important;
    box-shadow: rgb(255, 255, 255) 0px 10px 20px -10px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}